@model jQuery_Ajax_CRUD.Models.TeachersModel


@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditT" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="A"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        
                    </div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                       <input type="date" asp-for="DateOfBirth"   class="form-control" value="@Model.DateOfBirth" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Class" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                
                            </div>
                             <select asp-for="Class">
                    <option value= "1">ClassA</option>
                    <option value="2">ClassB</option>
                    <option value="3">ClassC</option>
                </select>  
                        </div>
                        <span asp-validation-for="Class" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                
                            </div>
                             <select asp-for="Subject">
                    <option value= "1">Mathematics</option>
                    <option value="2">Physics</option>
                    <option value="3">Chemistry</option>
                    <option value="4">English</option>
                </select>  
                        </div>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>


                          
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
